@model IEnumerable<Employee>;
@{
    // move this line to _ViewStart
    // Layout = "~/Views/Shared/_layout.cshtml";

    // u can say
    // layout = "_layout2" to override  or "null"
}
<div class="card-deck">
    @foreach (var Employee in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@Employee.Name</h3>
                <h3>@Employee.Id</h3>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Detalis" asp-route-id="@Employee.Id" class="btn btn-primary m-1">
                    view
                </a>


                <!--

                <a href=" @Url.Action("Detalis", "Home", new { id = Employee.Id })" class="btn btn-primary">
                    view
                </a>

                @Html.ActionLink("View", "Detalis", "Home", new { id = Employee.Id })

                    details = action , Home = controller

                    <a href="/Home/Detalis/@Employee.Id" class="btn btn-primary">View</a>
                -->

                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>

    }
</div>


@section Scripts{
    <script src="~/js/CustamScript.js"></script>
}